POLYMARKET_API_KEY="REDACTED_POLYMARKET_KEY"
POLYMARKET_API_SECRET="REDACTED_POLYMARKET_SECRET"
POLYMARKET_API_PASSPHRASE="REDACTED_POLYMARKET_PASSPHRASE"

KALSHI_API_KEY_ID="REDACTED_OLD_KALSHI_KEY"
KALSHI_PRIVATE_KEY_PATH="kalshi.key"